user index

<!DOCTYPE html>
<html>
<head>
   <title>Logga in</title>
</head>
<body>
    <div class="container-fluid"> 
      <div class="row">         
         <div class="col-md-4"></div>
         <div class="col-md-4">
            <h2> Logga in </h2>
             <!--   < %= form_for :user, url: '/login' do |f| % >
-      < %= f.label :xname, "Namn: " % >
-      < %= f.text_field :xname % ><br>
-      < %= f.label :password, "Lösenord: " % >
-      < %= f.password_field :password % ><br>
- -->

            <form>     
               <input type="xname " name="login[xname]" placeholder="Användarnamn">
               <input type="password" name="login[password]" placeholder="Lösenord">
               <div class="actions"><br>
                  <%= f.submit "Logga in" %> 
               </div>
            </form>
               <!--  % end -% -->

         </div>
         <div class="col-md-4"></div>
      </div>
   </div>
</body>
</html>