

<h3>
	<%= link_to("Ny åtgärd", 
	{   :controller => 'operations',
		:action => 'new'}) %></h3>


<% @operations.each do |o| %>
	<b> Operation type:  </b><%= link_to o.operation_type, operation_path(o) %>  <br>
	<b> Description:  </b><%= o.description %> <br>
	<!-- <b> Operation Id:  </b><%=  o.id %>  -->
	<br><br>
<% end %>

