

<div>
	<br><br>
	<h3> <%= link_to "Ny 책tg채rd", new_operation_path %> </h3>

</div>

<!-- Ny 책tg채rd skapades.  -->


<h4> Operation type:  		<%=  @operation.operation_type %> </h4>
	<b> Description:  </b>	<%= @operation.description %> <br>
	
<!--	<b> Operation Id:  </b>	<%=  @operation.id %> <br> -->
	
