<h4>

<%= link_to("SENASTE POSTER", 
	{   :controller => 'post_infos',
		:action => 'index'}) %>


<%= link_to("NY POST", 
	{   :controller => 'post_infos',
		:action => 'new'}) %>

<%= link_to("ÅTGÄRDER", 
	{   :controller => 'operations',
		:action => 'index'}) %>

</h4>