body {
  background-color: #fff;
  color: #333;
  margin: 50px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  font-size: 15px;
  font-family: verdana;
  padding-right: 15px;

  &:visited {
    color: #666;
  }

  &:hover {
    color: mediumblue;
    /* background-color: skyblue; */
  }
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

th {
  text-align: left;
  font-family: verdana;
  font-size: 15px;
}

th, td {
  padding: 15px 30px 10px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 1px;
  background-color: lightcoral;
  display: table;
}

#error_explanation {
  
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f255;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 14px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 14px;
    list-style: square;
  }
}

label {
  display: block;
}
