Hjälp information

sök blah blah

<br><br>
_____________ <br>

Gör en ny tabell för detta info (? meh) <br>
____________ <br>

<br>

<% if @current_user %>
   <div class="btn btn-default"> 
      <!-- %= link_to "Redigera", edit_help_path, :class=>"btn"% --> 
   </div>
<% end -%>