


<% @help_info = HelpInfo.first  %>

<h3>SÖKHJÄLP:</h3>

   <% if @help_info.blank? || @help_info.helptext.blank? %>
      Ingen hjälp information finns.
   <% else %>
      <%= @help_info.helptext %>
   <% end %>

      
   <% if @current_user.is_admin %>
      <div align="right">
      <br><br>   
      <% if @help_info.blank? %>
         <%= link_to 'Skapa hjälpavsnitt', new_help_info_path %>
      <% else %>
         <%= link_to 'Redigera hjälpavsnitt', edit_help_info_path(@help_info) %>
      <% end %>
      </div>
   <% end %>



<!-- % = link_to 'Back', help_infos_path % -->
