<!-- p id="notice">< % = notice % ></p -->


<% @help_info = HelpInfo.first  %>

<p>
  <h3>Sökhjälp:</h3>
<% if @help_info != nil %>
   <%= @help_info.helptext %>
   <p>
   </p>
   
   <% if @current_user.is_admin %>
      <br><br>
      <%= link_to 'Redigera hjälpavsnitt', edit_help_info_path(@help_info) %>
   <% end %>
<% else %>
   Ingen hjälp information finns.
   
   <% if @current_user.is_admin %>
      <br><br>
      <%= link_to 'Skapa hjälpavsnitt', new_help_info_path %>
   <% end %>
<% end -%>

</p>


<!-- % = link_to 'Back', help_infos_path % -->
