<body>
    <div class="container-fluid"> 
      <div class="row">         
         <div class="col-md-4"></div>
         <div class="col-md-3">
            <br>
            <h3>REDIGERA ÅTGÄRD</h3>
            <%= render 'form' %>
            
            <!--
              <br><br><br>
            < %= link_to "Radera", operation_path(@operation), 
                method: :delete, data: 
                { confirm: "  Är du säker? \n \n"+
                  "Alla poster med denna åtgärd kommer \n"+
                  "framöver visas som \"Okänd\". \n"+
                  "\nDenna förändring är permanent."} % -->
         </div>
         <div class="col-md-4"></div>
      </div>
   </div>
</body>



<br><br>

