<body>
    <div class="container-fluid"> 
      <div class="row">         
         <div class="col-md-4"></div>
         <div class="col-md-3">
            <br>
            <h3>REDIGERA ÅTGÄRD</h3>
            <%= render 'form' %>
            
         </div>
         <div class="col-md-4"></div>
      </div>
   </div>
</body>



<br><br>

