
<table>
	<tr>
		<h3>
			<th> Åtgärd 		</th>
			<th> Beskrivning	</th>
		</h3>
	</tr>

	<% @operations.each do |o| %>
		<tr>
			<td> <%= link_to o.operation_type, edit_operation_path(o) %>	</td>
			<td> <%= o.description %>	 </td>
		</tr>
	<% end %>
</table>
