

<html>

<body>
    <div class="container-fluid"> 
      <div class="row">         
         <div class="col-md-4"></div>
         <div class="col-md-4">
            <br>
            <h3> ÅTGÄRD SPARADES </h3>
            <br><br>
            <h4><b> Åtgärd:       </b></h4>  <%= @operation.operation_type %>  <br>
            <h4><b> Beskrivning:  </b></h4>  <%= @operation.description %>     <br>            
         </div>
         <div class="col-md-4"></div>
      </div>
   </div>
</body>

</html>




	
